.row
  .three.columns
    =f.label :first_name
    =f.text_field :first_name
  .three.columns
    =f.label :last_name
    =f.text_field :last_name
  .three.columns
    =f.label :busines_name
    =f.text_field :business_name
.row
  .three.columns
    =f.label :address_1
    =f.text_field :address_1
  .three.columns
    =f.label :address_2
    =f.text_field :address_2
  .three.columns
    =f.label :city
    =f.text_field :city
.row
  .three.columns
    =f.label :state
    =f.text_field :state
  .three.columns
    =f.label :zip
    =f.text_field :zip
  .three.columns
    =f.label :email
    =f.text_field :email
.row
  .three.columns
    =f.label :phone_1
    =f.text_field :phone_1
  .three.columns
    =f.label :phone_2
    =f.text_field :phone_2
  .three.columns
    =f.label :solicitor
    =f.text_field :solicitor

.row
  .three.columns
    =f.label :ok_to_email
    =f.check_box :ok_to_email
  .three.columns
    =f.label :ok_to_mail
    =f.check_box :ok_to_mail
  .three.columns
    =f.label :ok_to_call
    =f.check_box :ok_to_call

