.row
  .three.columns
    =f.label :first_name
    =f.text_field :first_name
  .three.columns
    =f.label :last_name
    =f.text_field :last_name
  .three.columns
    =f.label :busines_name
    =f.text_field :business_name
.row
  .three.columns
    =f.label :address_1
    =f.text_field :address_1
  .three.columns
    =f.label :address_2
    =f.text_field :address_2
  .three.columns
    =f.label :city
    =f.text_field :city
.row
  .three.columns
    =f.label :state
    =f.text_field :state
  .three.columns
    =f.label :zip
    =f.text_field :zip
.row
  .three.columns
    =f.label :phone_1
    =f.text_field :phone_1
  .three.columns
    =f.label :phone_2
    =f.text_field :phone_2
  .three.columns
    =f.label :solicitor
    =f.text_field :solicitor
