%h5
  =link_to(@person.screen_name, edit_person_url(@person))

%div
  =@person.address_1
  =@person.address_2

%div
  =@person.city
  =@person.state
  =@person.zip


%div
  =@person.phone_1
  %br
  =@person.phone_2

%div

  -if @person.ok_to_email?
    Email ok,
  -if @person.ok_to_mail?
    Snail Mail ok,
  -if @person.ok_to_call?
    Calling ok,

-if @person.donations.empty?
  %div
    =link_to('Delete', person_url(@person), action: 'destroy', method: :delete, data: {confirm: 'Delete this entry?'}, class: 'button')

%h5
  Donations
  =number_to_currency(@person.total_donations)

%table.u-full-width
  %thead
    %th
      Campaign
    %th
      Donor
    %th
      Date
    %th
      Amount

  %tbody
    =render partial: 'donations/row', collection: @person.donations.order('date desc'), as: :donation
 
