%h4
  Editing Donor
 
=error_messages_for @person

=form_for @person do |f|

  =render partial: 'form_fields', locals: {f: f}

  .row
    .three.columns
      =f.submit 'Update', class: 'button-primary'
     

-if @person.donations.empty?
  =link_to('Delete', person_url(@person), action: 'destroy', method: :delete, data: {confirm: 'Delete this entry?'}, class: 'button')
