%h5 
  Donors
  %span.smaller
    =link_to 'new', new_person_url

.pagination
  =will_paginate @people


%table.u-full-width
  %thead
    %th
      First
    %th
      Last
    %th
      Company
    %th
      Address
    %th
      City
    %th
      State
    %th
      Zip
    %th
      Email
    %th
      Phone
    %th
      Contact
    %th
      Donations

  %tbody
    =render partial: 'row', collection: @people, as: :person

