%h4
  New Donor
 
=error_messages_for @person

=form_for @person do |f|

  =render partial: 'form_fields', locals: {f: f}

  .row
    .three.columns
      =f.submit 'Create', class: 'button-primary'
     



