.row
  .three_columns
    =f.label :login
    =f.text_field :login
  .three_columns
    =f.label :active
    =f.check_box :active
.row
  .tree_columns
    =f.label :password
    =f.password_field :password
.row
  .tree_columns
    =f.label :password_confirmation
    =f.password_field :password_confirmation


