%h5
  -if @person.present?
    =@person.screen_name
  -elsif @campaign.present?
    =@campaign.label
    ="(#{@donations.count})"
  Donations

%table.u-full-width
  %thead
    %th
      Campaign
    %th
      Donor
    %th
      Date
    %th
      Amount

  %tbody
    =render partial: 'row', collection: @donations, as: :donation
 

