%h4
  New Campaign
 
=error_messages_for @campaign

=form_for @campaign do |f|

  =render partial: 'form_fields', locals: {f: f}

  .row
    .three.columns
      =f.submit 'Create', class: 'button-primary'
     


